.titulo {
  font-size: 18px;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.imagen img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.descripcionPrecioDiv {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  max-width: 280px;
  max-height: 60px;
  font-size: 18px;
}

.descripcion {
  font-style: italic;
}

.precio {
  color: brown;
}
