.tituloCarritoDeCompras {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin: 13px;
}

.divCarritoDeCompras {
  text-align: center;
}

.tituloCarritoDeCompras {
  font-size: 24px;
  margin-bottom: 20px;
}

.tarjetasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.divCarritoDeCompras {
  width: 950px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
