.tituloCarritoDeCompras {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin: 13px;
}

.divCarritoDeCompras {
  text-align: center;
}

.tituloCarritoDeCompras {
  font-size: 24px;
  margin-bottom: 20px;
}

.tarjetasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
